:root {
  --jumbotron-padding-y: 3rem;
}

body {
  background-image: url('../kylie.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.navbar {
  /*background-color: #f8f9fa!important;*/
  background: none;
  /* for background color, I removed bg-light class in nav and <div class="album py-5">*/
  color: white;
}

.navbar a {
  color: white!important;
}

.nav-link {
  font-size: 12px;
}

/* Search button */

.input-group {
  width: 180px; /* will it lose responsiveness?*/
  /*border-bottom: 1px solid;*/
}

.input-group .form-control {
  padding: .275rem .50rem;
  border: none;
  background: transparent;
  border-bottom: 1px solid;
  /*padding-right: 32px;*/
}

.input-group .form-control:focus {
  box-shadow: none;
  z-index: 0;
  background-color: white;
}

.input-group input { 
  text-indent: 5px;
}

/*
#navbarNav {
  position: relative; //might need this to keep magnifying glass in right position
}
*/

#navbarNav .fa-search { 
  position: relative;
  top: 0px;
  left: -33px;
  font-size: 30px;
}

/* .transparent-input {
  background: transparent; /* maybe make this slight whiter than background
} */


.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  /*background-color: #fff;*/
  background: none;

}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }